<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    
  <title>
    {% block title %}{% endblock title %}
    </title>

  <!-- Adding fib icon -->  
  <link rel="icon" href="{{url_for('static',filename='assets/images/fib-icon.png')}}" type="image/png">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"  rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-seo-dream.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">

<!--

TemplateMo 563 SEO Dream

https://templatemo.com/tm-563-seo-dream

-->

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/home" class="logo">
              <h4>The Disease Predictor <img src="{{ url_for('static', filename='assets/images/logo-icon.png') }}" alt=""></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>
             
              <li class="scroll-to-section">
                <!-- dropdown-toggle -->
                <a href="" id="frontPagesDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                    Features  <i class="arrow down"></i> 
                </a>
                <div class="dropdown-menu p-lg-8">
                    <!-- <div class="row"> -->
                        <!-- <div class="col-6 col-lg-4"> -->
                            
                            <ul class="list-style-none mb-4" style="margin: 0% 7%;padding: 9% 0% 0% 0%;">

                                            <li class="mb-2 p-1 megamenu-item text-center" onMouseOver="this.style.backgroundColor='black'" onMouseOut="this.style.backgroundColor='#33ccc5'" 
                                            style="border-radius: 15%">
                                                <a class="megamenu-link" href="/BreastCancer">Breast Cancer</a>
                                            </li>

                                            <li class="mb-2 p-1 megamenu-item text-center" onMouseOver="this.style.backgroundColor='black'" onMouseOut="this.style.backgroundColor='#33ccc5'" 
                                            style="border-radius: 15%">
                                                <a class="megamenu-link" href="/LungsCancer">Lungs Cancer</a>
                                            </li>

                                            <li class="mb-2 p-1 megamenu-item text-center" onMouseOver="this.style.backgroundColor='black'" onMouseOut="this.style.backgroundColor='#33ccc5'" 
                                            style="border-radius: 15%">
                                                <a class="megamenu-link" href="/Heart">Heart Disease</a>
                                            </li>
                                            <li></li>
                                        </ul>
                </div>
            </li>
           
             
            <li class="scroll-to-section"><a href="/profile">Profile Update</a></li>   
            <li class="scroll-to-section"><a href="/About">About Us</a></li>   
              <li class="scroll-to-section"><div class="main-blue-button"><a href="/logout">Log Out</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>

  
{% block body %}{% endblock body %}

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/animation.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
  
  </body>
  </html>