<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="hhhwidth=device-width, initial-scale=1">
        <title>Forget Password</title>

        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo_style.css')}}">
       
        <link rel="shortcut icon" href="{{url_for('static',filename='assets/images/fib-icon.png')}}" />
        
    </head>
    <body>
        <div></div>
        <section id="templatemo_contact" style="margin: 3.85% 0% 0% 25%;width: 50%;border-radius: 10%;padding-bottom: 1%;">
            <div class="container" style="width: 65%;">
                <div class="row"  style=" margin: 10% 0% -7% 0%;">
                    <div class="col-sm-0">
                        <header class="template_header">
                            <h1 class="text-center"> Forget Password </h1>
                        </header>
                       
                    </div>
                </div>

                
                {% if msg!=""%}
                    
                <div class="col-sm-12" style="color:red">
                {{msg}}
                </div>
                
                {% endif%}

                <form role="form" action="/forget" method="post"  style=" margin-top: -7%;">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" name="new_password" class="form-control" id="password" placeholder="New password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" name="con_password" class="form-control" id="contact-password" placeholder="Confirm password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" name="otp" class="form-control" id="otp" placeholder="OTP" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div style="font-size: 80%;">
                            To go login <a href="/" style="font-size: 100%; color: rgb(159, 214, 250);"> click here...  </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 0%; margin-bottom: 2px;">
                        <div class="col-xs-4 col-xs-offset-8">
                            <button type="submit" class="form-control">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>